html, container, tab.active {
    background-color: lightgrey;
}

body{
    background-color: #fff;
    box-shadow: 0 0 11px 6px rgba(0, 0, 0, 0.4);
    border-radius:5px;
    border: 2px solid #CFA93F;
    margin:  1em auto;
    font: 16px Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80em; 
    padding-bottom: 3em
}

tabs {
    display: flex;
    margin-bottom: 1em;
}

tab {
    background-color: #fff;
    font: 16px Arial;
    display: inline;
    text-align: center;
    width: 50%;
}

table.tableau {
    background-color: lightgrey;
    margin: auto;
}

tr{
    background-color: white;
     padding: 5px;
}

th{
    background-color: grey;
    color: white;
    padding: 5px;
}

.boutonTableauProduits{
    float: left;
    padding-bottom: 1em;
}

.boutonTableauVente{
    float: right;
    padding-bottom: 1em;
}
.filtre{
    margin-bottom: 1em;
}
